.blockPage {
  width: 100%;

  .blockCard {
    max-width: 900px;
    width: 85%;
    cursor: pointer;
    margin: 1rem auto;
    padding: 0 2rem 1rem;
    border-radius: 5px;
    border: 1px solid #e7eaf3;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%);
  }
}
